{{yield}}
<div style="position:fixed;">
  <div class="list-group">
    <h5 class="list-group-item active">{{user.name}} Garden</h5>
    {{#each user.userPlants as |userPlant|}}
      <ul>
        <li>{{userPlant.name}}</li>
      </ul>
    {{/each}}
  </div>

  <!--   {{#draggable-object-target action="dragResult" resultText='Drag is Complete' dragOverAction='draggingOverTarget' dragOutAction='leftDragTarget' overrideClass='dropTarget'}}
    <div id="target" style="width:100px; height:100px; background-color:purple"></div>
  {{/draggable-object-target}} -->


  <div class="list-group">
    <h5 class="list-group-item active">My Wishlist</h5>
    <a href="#" class="list-group-item">Dapibus ac facilisis in
    </a>
    <a href="#" class="list-group-item">Morbi leo risus
    </a>
  </div>
</div>