*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;

}

.dragObject > .col-sm-3 {
 display: inline-block;
 padding:  .33rem;
 width:  100%;
 float:none;
}

.panel {
 position:relative;
 display: block;
}
