<!-- <div class="row">
  <div class="col-xs-3"> -->
    <!--  user's plants -->
    <!-- {{side-bar user=model draggingOverTarget="draggingOverTarget" leftDragTarget="leftDragTarget" dragResult="dragResult"}} -->


  <!-- </div>
  <div class="col-xs-9"> -->
    <!--  render the index page -->
    {{outlet}}
  <!-- </div>
</div> -->
