<div class="row">
  <div class="col-xs-3">
    {{side-bar user=model draggingOverTarget="draggingOverTarget" leftDragTarget="leftDragTarget" dragResult="dragResult"}}

  </div>
  <div class="col-xs-9">
      <div id="drag-alert"></div>
    {{outlet}}
  </div>
</div>
